@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,800;0,900;1,200;1,300&display=swap');

*,
*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #121212;
    --color-secondary: #ffffff;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    background: var(--color-primary) ;
    color: #ffffff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--color-secondary);
}

.active{
    color: var(--color-primary)
}

ul {
    list-style: none;
}



.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }

  .main-header {
    padding: 20px 0;
  }

  #nav_right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }

  #nav_right ul li {
    padding-left: 20px;
  }

  .hero-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
  }

  .main-hero {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight:400;
    text-transform: uppercase;
  }

 .about-text{
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight:400;
    text-transform: uppercase;
  }

  .sub-hero {
    font-weight: 200;
    text-align: right;
    font-size: 1.2rem;
  }

  .reel{
    width: 1160;
    height:653;
    display: flex;
    flex-shrink: 1;
    margin: 30px 0;
    border-radius: 8px;

  }

  .reel iframe {
    border-radius: 16px;
  }

  .gray-background{
    background-color: #282828;
  }

  .top-divs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  .testimonial-photo{
    margin-left: 232px;
  }

  .testimonial-photo img{
    border-radius: 48px;
  }

  .sub-testimonial {
    margin-top: 8px;
    font-size: 0.75em;
  }
  .radio-testi ::before {
    accent-color: none;
    height: 12px;
    width: 12px;
  }
  .radio-testi:checked {
    accent-color: #282828;
    border: 5px solid #0DFF92;
    height: 12px;
    width: 12px;
  }

  .bottom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .services-text{
    margin-top: 40px;
    font-size: 200;
    color: #bdbdbd;
    font-style: italic;
    font-size: 1.5em;
  }


  .skills-list {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }

  .skill-icon i{
    color: #282828;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 16px;
    margin-right: 10px;
  }

  .skill-icon {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2rem;
  }

  .line{
    height: 1px;
    width:100%;
    background-color: #565656;
    margin: 80px 0;
  }

  .my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-div2{
    display: flex;
    margin-top: 32px;
    column-gap: 10px; 
    row-gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .project img {
    width: 512px;
    height: 288px;
    border-radius: 8px;
  }

  .btn{
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 24px;
    border-style: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
  }
  .btn-2{
    padding: 8px 16px;
    border-radius: 24px;
    border-style: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
  }

  .btn:hover {
    background-color: #bdbdbd;
    cursor: pointer;
  }

.about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 112px;
  }

  .about{
    margin-bottom: 48px;
    margin-right: 96px;
  }

.about p {
    font-weight: 200;
    color: #bdbdbd;
}

.key-characteristics p {
    font-weight: 200;
    color: #bdbdbd;
    font-style: italic;
    font-size: larger;
    margin-bottom: 8px;
}

.key-characteristics .btn-2{
    margin-bottom:8px;
    margin-right: 8px;
    color: #565656;
}

  .photo-malik img {
    height: 450px;
    width: 350px;
    border-radius: 8px;
    margin-left: 10px;

  }

  .main-footer .container{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .social-media a{
    margin-left: 20px;
  }








  @media(max-width: 768px) {
    .project img{
        flex-grow: 1;
    }
    .top-div2{
        display:flex;
    }
    .about-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

    .photo-malik img {
        height: 450px;
        width: 350px;
        border-radius: 8px;
        margin-top: 32px;
      }

    

  }

