@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,800;0,900;1,300&display=swap');

*,
*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #121212;
    --color-secondary: #ffffff;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    background: var(--color-primary) ;
    color: #ffffff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--color-secondary);
}

.active{
    color: var(--color-primary)
}

ul {
    list-style: none;
}



.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }

  .main-header {
    padding: 20px 0;
  }

  #nav_right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }

  #nav_right ul li {
    padding-left: 20px;
  }

  .main-hero {
    font-size: 3.2rem;
    line-height: 5.5rem;
    font-weight:initial;
  }