@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,800;0,900;1,200;1,300&display=swap');

*,
*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #121212;
    --color-secondary: #ffffff;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    background: var(--color-primary) ;
    color: #ffffff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--color-secondary);
}

.active{
    color: var(--color-primary)
}

ul {
    list-style: none;
}



.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }

  .main-header {
    padding: 20px 0;
  }

  #nav_right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  }

  #nav_right ul li {
    padding-left: 20px;
  }

  .hero-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
  }

  .main-hero {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight:400;
    text-transform: uppercase;
  }

  .sub-hero {
    font-weight: 200;
    text-align: right;
    font-size: 1.2rem;
  }

  .reel{
    margin: 30px 0;
  }

  .gray-background{
    background-color: #282828;
  }

  .top-divs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  .testimonial-photo{
    margin-left: 232px;
  }

  .sub-testimonial {
    margin-top: 8px;
    font-size: 0.75em;
  }

  .bottom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .services-text{
    margin-top: 40px;
    font-size: 200;
    color: #bdbdbd;
    font-style: italic;
    font-size: 1.5em;
  }


  .skills-list {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }

  .skill-icon i{
    color: #282828;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 16px;
    margin-right: 10px;
  }

  .skill-icon {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2rem;
  }

  .line{
    height: 1px;
    width:100%;
    background-color: #bdbdbd;
    margin: 80px 0;
  }

  .top-div2{
    display: grid;
    margin-top: 32px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .project img {
    width: 384px;
    height: 216px;
    border-radius: 8px;
  }


